@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AR:wght@100..400&family=Playwrite+BE+WAL:wght@100..400&display=swap');

.geral {
  background-color: #721010;
  color: #fff;
}

.p1 {
  
  
  font-family: "Playwrite AR", sans-serif;
  color: 5b5652;
  
}