.ok{
  background-color: rgb(239, 233, 228);

}
.barra-menu{
  background-color: rgb(150, 135, 124);
  margin: none;
  padding: 10px;  
  gap: 50px;
  line-break: right;
  position: right;
  background-position: right;

}

.botao-menu {
  border: none;
  background-color: rgb(150, 135, 124);
  cursor: pointer;
}

.container {
  display: flex;
  border: none;
  margin: none;
  align-items: center;
}

.img1 {
  height: 500px;
  width: 500px;
  padding-top: 10px;
  border-left: solid transparent;
  border-radius: 100px;
}